html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #ffffff;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    min-height: 100vh;
}

#header {
    width: 100%;
    max-width: 1000px;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
}

/* #header a:hover {
    text-decoration: underline;
} */

#download, #upload {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 30px;
}

/* Upload status text */
#upload-status {
    font-size: 14px;
}


#result-container {
    width: 100%;
    max-width: 1000px;         
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px 0;
    box-sizing: border-box;
}

#visualizer {
    width: 100%;
    margin-bottom: 20px;
}

#visualizer-container {
    margin-left: 20px;
    width: 700px;
    height: 50vh;
    /* background-color: red; */
}

canvas {
    width: 100%;
    height: 50vh;
    background-color: white;
    margin-top: -14px;
}

audio {
    width: 100%;
    margin-top: -5px;
}

#genre-plot {
    width: 100%;
    padding-top: 10.5px;
    margin-bottom: 20px;
}

#footer {
    width: 100%;
    max-width: 1000px;
    margin-top: auto;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    border-top: 1px solid #ccc;
}
