html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #ffffff;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    min-height: 100vh;
    font-size: 12px;
}

p {
    font-size: 12px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

#header {
    width: 100%;
    max-width: 1000px;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 40px;
}

#download, #upload, #discogs-roll {
    width: 100%;
    max-width: 1000px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

/* Upload status text */
#upload-status {
    font-size: 14px;
}

#result-container {
    width: 100%;
    max-width: 1000px;         
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px 0;
    box-sizing: border-box;
}

#visualizer {
    width: 100%;
}

#visualizer-container {
    width: 700px;
}

#visualizer-label {
    color: gray;
    display: none;
}

canvas {
    width: 100%;
    height: 350px;
    background-color: white;
}

audio {
    width: 100%;
    margin-top: -5px;
}

#genre-plot {
    width: 100%;
}

#genre-form {
    display: none;
    margin-top: 5px;
}

#release-container {
    margin-top: 50px;
}

#release-cover {
    height: 500px;
}

#release-info {
    margin-top: 50px; 
    padding-left: 30px;
    /* background-color: red; */
    height: 500px;
    text-align: left;
}

#footer {
    width: 100%;
    max-width: 1000px;
    margin-top: auto;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    border-top: 1px solid #ccc;
}