@import "tailwindcss";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@theme {
  --color-gray-terminal: #1f1f1f;
  --color-gray-terminal-mid: #3a3a3a;
  --color-gray-terminal-light: #818181;
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.file-upload {
  transition: background-color 0.5s ease, border 0.5s ease;
}

/* .file-upload:hover {
  background-color: rgb(41, 41, 41);
  border: 1px solid white;
} */
