@import "tailwindcss";

body {
  background-color: black;
  /* color: white;
  display: flex;
  justify-content: center;
  align-items: center; */
}

button {
  padding: 7px;
  margin: 2px;
  transition: color 0.2s ease;
}

button:hover {
  color: rgb(255, 255, 255);
}

.file-upload {
  transition: background-color 0.5s ease, border 0.5s ease;
}

/* .file-upload:hover {
  background-color: rgb(41, 41, 41);
  border: 1px solid white;
} */