<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A music analysis app">
    <meta name="author" content="Brian Mai">
    <title>Museko</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='mu.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap">
</head>
<body>
    <div id="overlay"></div>
    <div id="welcomeDiv">
        <h1>Welcome to <span id="museko-text">Museko!</span></h1>
        <img id="museko-yotsuba" src="{{ url_for('static', filename='museko.png') }}" alt="Museko Yotsuba">
        <p>
            Museko is an online music analysis tool that classifies song genres using open-source Essentia TensorFlow models.<br>
            Includes real-time audio visualization, BPM/key detection, and an mp3 downloader.
        </p>
        <button id="startButton" class="btn-grad-blue">Start analyzing</button>
    </div>
    
    <div class="grid-container">
        <div class="download-upload">
            <h3>Download mp3 file</h3>
            <form id="mp3_download" method="post" action="/download">
                <input type="text" name="url", id="urlInput" placeholder="Enter YouTube url to download as mp3." size="50">
                <input type="submit" value="Download">
                <br>
                <span id="download_status"></span>
            </form>
        
            <h3>Upload mp3 file for analysis</h3>
            <form id="mp3_upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="fileInput">
                <input type="submit" value="Upload">
            </form>
        </div>

        <!-- placeholder for visualizer -->
        <div class="visualizer">
            <h3 id="file-title">Audio Visualization</h3>
            <div id="visualizer-container"></div>
        </div>

        <!-- placeholder for matplotlib fig.  -->
        <div class="genre-plot">
            <h3>MTG Genre Classification</h3>
            <div id="fig-loader"></div>
            <img id="matplotlib-fig">
        </div>

        <!-- placeholder for analysis results -->
        <div class="analysis">
            <p>
                Predicted global BPM: <span id="bpm">N/A</span><br>
                Predicted key: <span id="key">N/A</span>
            </p>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='display.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='audioVisualizer.js') }}"></script>
</body>
</html>

