<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A music analysis app">
    <meta name="author" content="Brian Mai">
    <title>Museko</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='mu.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div>
        <div id="header">
            <h1>Museko</h1>
            <p>Genre classification and Discogs discovery tool</p>
        </div>
        <div id="download">
            <div id="download-container">
                <h3>Download file with URL (via <a href="https://github.com/yt-dlp/yt-dlp" target="_blank">yt-dlp</a>)</h3>
                <p>Supports YouTube, SoundCloud, and <a href="https://github.com/yt-dlp/yt-dlp/blob/master/supportedsites.md" target="_blank">more</a>.</p>
                <form id="mp3-download" method="post" action="/download">
                    <input type="text" name="url" id="urlInput" placeholder="Enter URL here" size="19">
                    <input id="download-button" type="submit" value="Download">
                    <br>
                    <span id="download-status"></span>
                </form>
            </div>
        </div>

        <div id="upload">
            <div id="upload-container">
                <h3>Upload file for analysis (.mp3, .flac, .wav)</h3>
                <form id="mp3-upload" method="post" action="/upload" enctype="multipart/form-data">
                    <input type="file" name="file" id="file-input">
                    <input id="upload-button" type="submit" value="Upload">
                    <span id="upload-status"></span>
                </form>
            </div>
        </div>

        <div id="discogs-roll">
            <h3>Draw a random release from Discogs</h3>
            <form method="post" action="/roll">
            <input
                type="text"
                name="query"
                id="discogs-roll-genre"
                value="{{ query }}"
                placeholder="Filter by genre (optional)"
                autocomplete="off"
                size="20"
            >
            <input id="submit-button" type="submit" value="Search">
            </form>
        </div>

        <div id="result-container" class="flex-center">
            {% if release %}
                <div class="flex-center">
                    <div>
                        <h1 id="release-title">{{ release.title }} - {{ artist_names }} </h1>
                        <img id="release-cover" src="{{ image_url }}" alt="Discogs release image">
                    </div>
                    <div style="margin-top: 45px; padding-left: 30px;">
                        <p> Release Discogs ID: {{ release_id }}</p>
                        {% if release.genres %} 
                            <p>Genres: 
                            {% for g in release.genres %}
                                {{ g | safe }}{% if g != release.genres | last %}, {% endif %}
                            {% endfor %}
                            </p>
                        {% endif %}

                        {% for t in release.tracklist %}
                            <p>{{ t.position }}<span style="margin-left:5px;"> </span>
                            {{ t.title }}
                            {% if t.duration != "" %}
                                - {{ t.duration }}
                            {% endif %}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div id="visualizer">
                <h3 id="file-title"></h3>
                <p id="visualizer-label">x=frequency, y=decibels</p>
                <div id="visualizer-container">
                    <!-- <img src="{{ url_for('static', filename='alovesupreme.webp') }}" style="height: 100%;"> -->
                </div>
            </div>
    
            <div id="genre-plot">
                <div id="fig-loader"></div>
                <img id="matplotlib-fig">
                <div id="analysis">
                    <p id="bpm"></p>
                    <p id="key"></p>
                </div>
            </div>
            <div id="footer">
                <p>Last updated on 28 January 2026. Source code available on <a href="https://github.com/bmai1/museko/tree/main/apps/web" target="_blank">GitHub</a>.</p>
            </div>
        </div>
    </div>
     
    <script src="{{ url_for('static', filename='drag.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='display.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='audioVisualizer.js') }}"></script>
</body>
</html>

