body, html {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #f4f3f2;
    /* overflow: hidden; */
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

#welcomeDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 74vw;
    height: 72vh;
    padding: 20px;
    background: #f4f3f2;
    border-radius: 8px;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#museko-text {
    background: linear-gradient(to right, #7474BF 0%, #348AC7 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.5s;
}

#museko-text:hover {
    opacity: 0.9;
}

#museko-yotsuba {
    width: 22vw;
    border-radius: 50%;
    border-top: 6px solid #7474BF;
    border-bottom: 6px solid rgb(208, 214, 250);
    animation: spin 20s linear infinite;
    transition: 1s;
}

#museko-yotsuba:hover {
    border-top: 6px solid #b6d7ee;
    border-bottom: 6px solid #348AC7;
}
 
#startButton {
    padding: 10px 20px;
    cursor: pointer;
}

.btn-grad-blue {
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7  51%, #7474BF  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
}
.btn-grad-blue:hover {
    background-position: right center; 
    color: #e5f8ff;
}

/* Grid container setup */
.grid-container {
    display: grid;
    grid-template-areas:
        "download-upload genre-plot"
        "visualizer genre-plot"
        "visualizer analysis";
    gap: 1.5vw;
    padding: 9.5vh 10.5vw;
}

.download-upload, .visualizer, .genre-plot, .analysis {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(39, 39, 39);
    color: white;
    /* cursor: move; */
}

.download-upload {
    width: 45vw;
    height: 23vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: download-upload;
    gap: 10px;
}

#download-container, #upload-container {
    width: 21vw;
    height: 20vh;
    font-size: 0.7rem;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

#download-container {
    margin-left: 10px;
    /* width: 20vw; */
    /* background-color: red; */
}

#download-button {
    font-size: 0.7rem;
    color: #fff;
    background-color: #8d8d8d;
    margin: 2px 0;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

#upload-container {
    /* background-color: blue; */
    border: 1px solid white;
    transition: background-color 0.3s;
}

#upload-container.dragover {
    background-color: rgb(102, 102, 102);
}

.file-label {
    display: inline-block;
    background-color: #007bff;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-name {
    display: inline-block;
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

#upload-button {
    font-size: 0.7rem;
    display: none;
    border: 0;
    background-color: #8d8d8d;
    padding: 5px;
    margin-right: 5px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.visualizer {
    width: 45vw;
    height: 50vh;
    grid-area: visualizer;
    background-color: rgb(39, 39, 39);
    color: white;
}

#visualizer-container {
    width: 100%;
    height: 50vh;
}

canvas {
    width: 100%;
    height: 35vh;
}

audio {
    width: 100%;
    margin-top: -5px;
}

.genre-plot {
    width: 30vw;
    height: 63vh;
    grid-area: genre-plot;
}

#fig-loader {
    display: none;
    align-self: center;
    border: 6px solid #f3f3f3; 
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 0.5s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#matplotlib-fig {
    width: 80%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.analysis {
    width: 30vw;
    grid-area: analysis;
}
